<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Zx1nggg.FAMS.modules.base.mapper.FarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.Zx1nggg.FAMS.modules.base.entity.Farm">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="farm_name" property="farmName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, farm_name
    </sql>

</mapper>
